<div class='row'>
  <div class='col'>
    <h2><%= t('.title') %></h2>
    <div class="mb-3">
      <p><%= User.human_attribute_name(:name) %>:</p>
      <%= current_user.name %>
    </div>
    <div class="mb-3">
      <p><%= User.human_attribute_name(:email) %>:</p>
      <%= current_user.email %>
    </div>
    <% ipinfo = ipinfo(request.remote_ip) %>
    <div class="mb-3">
      <p><%= t('.city') %>:</p>
      <%= ipinfo['city'] %>
    </div>
    <div class="mb-3">
      <p><%= t('.region') %>:</p>
      <%= ipinfo['region'] %>
    </div>
    <div class="mb-3">
      <p><%= t('.country') %>:</p>
      <%= ipinfo['country'] %>
    </div>
    <div>
       <%= link_to t('helpers.sign_out'), session_path(current_user), data: { turbo_method: :delete } %>
    </div>
  </div>
</div>
